
	<extend name="Index/index" />
	<block name="page">
		<h1>管理员列表</h1>

		 <table class="table table-hover table-border">
            <tr>
                <th>ID</th>
                <th>类别</th>            
                <th>书名</th>            
                <th>作者</th>               
                <th>状态</th>               
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="v" key="k">
            <tr>
                <th><{$v.id}></th>
                <td><{$v.type}></td>
                <td><{$v.novel_name}></td>
                <td><{$v.author}></td>

                 <td>
                    <if condition="$v.state eq '0'">完结                
                    <else />连载
                    </if>
                </td>
                 <td><{$v.addtime|date="Y-m-d H:i:s",###}></td>
               
               
                <td>
				<a href="<{:U('update',array('id'=>$v['id']))}>" class="btn btn-primary">编辑</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="<{:U('del',array('id'=>$v['id']))}>" class="btn btn-danger">删除</a>
                </td>
            </tr>
            </volist>
        </table>

	</block>
	<block name="content">

		
	</block>
